# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release
